{% extends 'base/base.html' %}

{% block content %}

          <div class="card blue darken-1">
            <h1 class="m-0 text-dark">Certificados</h1>
            <table class="table ">
              <div class="card-content white-text">

                <thead>
                  <tr>
                    <th>Tipo Certificado</th>
                    <th>Fecha Solicitud</th>
                    <th>Valor Certificado</th>
                    <th>Fecha de Pago</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in certificado %}
                  <tr>
                    <td>{{ data.Type }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Application_Date }}</td>
                    <td>{{ data.Certified_Value }}</td>
                    <td>{{ data.Payment_Date }}</td>
                    <td>
                        <a href="{% url 'editarcertificado' data.id %}" class="btn btn-warning">
                          <i class="material-icons">Actualizar</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarcertificado' data.id %}" class="btn btn-danger">
                        <i class="material-icons">Eliminar</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearcertificado' certificateId %}" class="btn btn-success">
                  <i class="material-icons">Crear Certificado</i>
                </a>
              </div>
            </div>

{% endblock %}
