{% extends 'base/base.html' %}

{% block content %}

<form action="{%url 'editarcertificado' obligacionId %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tipo Certificado</label>
        <select class="form-control" name="Type" id="Type">
          <option value="{{certificate.Type}}" disabled selected>{{certificate.Type}}</option>
          <option value="Certificado Deuda">Certificado Deuda</option>
          <option value="Paz y Salvo">Paz y Salvo</option>
        </select
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="Application_Date">Fecha Solicitud</label>
    <input type="date" class="form-control" id="Application_Date" name="Application_Date" value="{{certificate.Application_Date}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Date_Of_Receipt">Fecha Recibido</label>
    <input type="date" class="form-control" id="Date_Of_Receipt" name="Date_Of_Receipt" value="{{certificate.Date_Of_Receipt}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Certified_Value">Valor Certificado</label>
    <input type="number" class="form-control" id="Certified_Value" name="Certified_Value" value="{{certificate.Certified_Value}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Payment_Date">Fecha de Pago</label>
    <input type="date" class="form-control" id="Payment_Date" name="Payment_Date" value="{{certificate.Payment_Date}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Payment_Date"></label>
    <input type="hidden" class="form-control" id="Fk_Financial_Obligation" name="Fk_Financial_Obligation" value="{{certificate.Fk_Financial_Obligation.id}}">
  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}
