{% extends 'base/base.html' %}

{% block content %}

          <div class="card blue darken-1">
            <h1 class="m-0 text-dark">Obligaciones</h1>
            <table class="table ">
              <div class="card-content white-text">

                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Estado</th>
                    <th>entidad</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in obligacion %}
                  <tr>
                    <td>{{ data.id }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.State }}</td>
                    <td>{{ data.Entity_Cooperative}}</td>
                    <td>
                        <a href="{% url 'listarcertificado' data.id %}" class="btn btn-primary">
                          <i class="material-icons">Certificados</i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'editarobligacion' data.id %}" class="btn btn-warning">
                          <i class="material-icons">Actualizar</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarobligacion' data.id %}" class="btn btn-danger">
                        <i class="material-icons">Eliminar</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearobligacion' management_typeId %}" class="btn btn-success">
                  <i class="material-icons">Crear Obligación</i>
                </a>
              </div>
            </div>

{% endblock %}
