{% extends 'base.html' %}

{% block content %}

<form action="{%url 'editarderechopeticion' %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Type_Application">Tipo de Solicitud</label>
      <input type="text" class="form-control" id="Type_Application" name="Type_Application" value="{{Right_Petition.Type_Application}}">
    </div>
    <div class="form-group col-md-6">
      <label>Linea Go</label>
        <select class="browser-default " name="Line" id="Line" value="{{Right_Petition.Line}}">
          <option value="{{Right_Petition.Line}}">{{Right_Petition.Line}}</option>
          <option value="rehabilitacion">Rehabilitación Financiera</option>
          <option value="reparacion">Reparación</option>
          <option value="liquidacion">liquidacion</option>
          <option value="proyecta">Proyecta</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Send_Date">Fecha de Envio</label>
      <input type="date" class="form-control" id="Send_Date" name="Send_Date" value="{{Right_Petition.Send_Date}}">
    </div>
  <div class="form-group col-md-6">
    <label for="Filed_Number">Numero de Radicado</label>
    <input type="number" class="form-control" id="Filed_Number" name="Filed_Number" value="{{Right_Petition.Filed_Number}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Reply_Date">Fecha de Respuesta</label>
    <input type="date" class="form-control" id="Reply_Date" name="Reply_Date" value="{{Right_Petition.Reply_Date}}">
  </div>
  <div class="form-group col-md-6">
    <label>Estado del proceso</label>
      <select class="browser-default " name="Process_State" id="Process_State" value="{{Right_Petition.Process_State}}">
        <option value="{{Right_Petition.Process_State}}">{{Right_Petition.Process_State}}</option>
        <option value="enviado">Enviado</option>
        <option value="respuesto">Respuesto</option>
        <option value="aceptado">Aceptado</option>
        <option value="noaceptado">No aceptado</option>
        <option value="terminado">Terminado</option>
        <option value="pendiente">Pendiente</option>
      </select>
  </div>
  <div class="form-group col-md-6">
    <label for="Reply">Respuesta</label>
    <input type="text" class="form-control" id="Reply" name="Reply" value="{{Right_Petition.Reply}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Guardianship_Date">Fecha de Envio Tutela</label>
    <input type="date" class="form-control" id="Guardianship_Date" name="Guardianship_Date" value="{{Right_Petition.Guardianship_Date}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Court">Juzgado</label>
    <input type="text" class="form-control" id="Court" name="Court" value="{{Right_Petition.Court}}">
  </div>

  <div class="form-group col-md-6">
    <label for="Guardianship_Response_Date">Fecha de Respuesta Tutela</label>
    <input type="date" class="form-control" id="Guardianship_Response_Date" name="Guardianship_Response_Date" value="{{Right_Petition.Guardianship_Response_Date}}">
  </div>
  <div class="form-group col-md-6">
    <label for="Observation">Observacion</label>
    <input type="textarea" class="form-control" id="Observation" name="Observation" value="{{Right_Petition.Observation}}">
  </div>
  </div>
  <div style="text-align: right">
    <button type="submit" class="btn btn-primary">Crear</button>
  </div>
</form>

{% endblock %}
