{% extends 'base/base.html' %}

{% block content %}

          <div class="card blue ">
            <h1 class="m-0 text-dark">Derechos de Petición</h1>
            <table class="table ">
              <div class="card-content white-text">

                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Tipo Aplicacion</th>
                    <th>Linea</th>
                    <th>Fecha envio</th>
                    <th>Radicado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in derechopeticion %}
                  <tr>
                    <td>{{ data.id }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Type_Application }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Line }}</td>
                    <td>{{ data.Send_Date }}</td>
                    <td>{{ data.Filed_Number }}</td>
                    <td>
                        <a href="{% url 'editarderechopeticion' data.id %}" class="btn btn-warning">
                          <i class="material-icons">Actualizar</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarderechopeticion' data.id %}" class="btn btn-danger">
                        <i class="material-icons">Eliminar</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearderechopeticion' management_typeId%}" class="btn btn-success">
                  <i class="large material-icons">Crear Derecho Petición</i>
                </a>
              </div>
            </div>

{% endblock %}
