{% extends 'base.html' %}

{% block content %}

<form action="{%url 'crearsimulacion' payrollId %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Bank">Banco</label>
      <input type="text" class="form-control" id="Bank" name="Bank">
    </div>
    <div class="form-group col-md-6">
      <label for="Number_Quotas">Numero cuotas</label>
      <input type="text" class="form-control" id="Number_Quotas" name="Number_Quotas">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Factor">Factor</label>
      <input type="number" class="form-control" id="Factor" name="Factor">
    </div>
    <div class="form-group col-md-6">
      <label for="Estimed_Credit">Credito estimado</label>
      <input type="number" class="form-control" id="Estimed_Credit" name="Estimed_Credit">

    </div>
    <div class="form-group col-md-6">
      <label for="Quota_Value">Valor cuota</label>
      <input type="number" class="form-control" id="Quota_Value" name="Quota_Value">
    </div>
    <div class="form-group col-md-6">
      <input type="hidden" class="form-control" id="Fk_Client_Payroll" name="Fk_Client_Payroll" value="{{payrollId}}">
    </div>
  </div>
  <div style="text-align: right">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
{% endblock %}
