{% extends 'base/base.html' %}

{% block content %}
<!--
<form method="post">
    {% csrf_token %}
      {{ form.as_p }}
     <div class="input-field col-md-6">
       <input type="submit" value="Enviar" class="blue darken-1 btn">
     </div>
 </form>
-->


<form  action="{%url 'crearcliente' %}" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      {% csrf_token %}
      <label for="inputEmail4">Nombre</label>
      <input type="text" class="form-control" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Cedula</label>
      <input type="number" class="form-control" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Correo Electronico</label>
      <input type="email" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Direccion</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ciudad</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity">Celular</label>
      <input type="number" class="form-control" id="inputCity">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Estrato</label>
      <input type="number" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity">Barrio</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
  </div>
  <div class="form-row">
    <div style="text-align: right" class="form-group col-md-2">
      <a href="{% url 'listarreferencia' %}">
        <i type="submit" style="background:#336EFF" class="btn btn.default">Referencia</i>
      </a>
    </div>
    <div style="text-align: right" class="form-group col-md-2">
      <a href="{% url 'listarnomina' %}">
        <i type="submit" style="background:#336EFF" class="btn btn.default">Nomina</i>
      </a>
    </div>

  </div>

  <div style="text-align: right">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
{% endblock %}

<!--  <label class="form-check-label" for="gridCheck">

  </label>

  <div class="form-group col-md-4">
    <label for="inputState">Celular</label>
    <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>

-->
