{% extends 'base/base.html' %}

{% block content %}

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="valordesembolso">Valor Desembolso</label>
      <input type="number" class="valordesembolso" id="valordesembolso">
    </div>
    <div class="form-group col-md-6">
      <label for="fechadepago">Fecha de Pago</label>
      <input type="date" class="form-control" id="fechadepago" name="fechadepago">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="entidadbancaria">Entidad Bancaria</label>
      <input type="text" class="entidadbancaria" id="entidadbancaria" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="montodesembolso">Monto desembolso</label>
      <input type="number" class="montodesembolso" id="montodesembolso" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="numerocuentas">Numero Cuotas</label>
      <input type="text" class="numerocuentas" id="numerocuentas" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="asesor">Asesor</label>
      <input type="text" class="asesor" id="asesor" placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Estado Desembolso</label>
        <select class="browser-default " name="leyaplica">
          <option value="" disabled selected>Seleccione</option>
          <option value="enproceso">En Proceso</option>
          <option value="radicado">Radicado</option>
          <option value="desembolsado">Desembolsado</option>
        </select>
    </div>
  </div>


  <div style="text-align: right">
    <button type="submit" class="btn btn-primary">Crear</button>
  </div>
</form>
{% endblock %}

<!--  <label class="form-check-label" for="gridCheck">

  </label>

  <div class="form-group col-md-4">
    <label for="inputState">Celular</label>
    <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>

-->
