{% extends 'base.html' %}

{% block content %}

<form action="{%url 'editargestion' management_type.id %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Date_Of_Contact">Fecha de Contacto</label>
      <input type="date" class="form-control" id="Date_Of_Contact" name="Date_Of_Contact" value="{{management_type.Date_Of_Contact}}">
    </div>
      <div class="form-group col-md-4">
        <label>Asesor Registra</label>


        <select class="browser-default" name="Fk_Advisor_Records" id="Fk_Advisor_Records" value="{{management_type.Fk_Advisor_Records}}">
          <option value="{{management_type.Fk_Advisor_Records.id}}">{{management_type.Fk_Advisor_Records}}</option>
          {% for x in customer_referrer %}
            <option value="{{x.id}}">{{x.Name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Origen</label>
                <select class="browser-default" name="Origin" id="Origin" value="{{management_type.Origin}}">
                  <option value="{{management_type.Origin}}" >{{management_type.Origin}}</option>
                  <option value="Voz a Voz">Voz a Voz</option>
                  <option value="Facebook">Facebook</option>
                  <option value="Referido">Referido</option>
                  <option value="Gestión Comercial">Gestión Comercial</option>
                  <option value="Pagina Web">Pagina Web</option>
                  <option value="Publicidad">Publicidad</option>
                  <option value="Instagram">Instagram</option>
                  <option value="Telemercadeo">Telemercadeo</option>
                </select>
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Referenciador</label>

      <select class="browser-default" name="Fk_Customer_Referrer" id="Fk_Customer_Referrer" value="{{management_type.Fk_Customer_Referrer}}">
        <option value="{{management_type.Fk_Customer_Referrer.id}}" >{{management_type.Fk_Customer_Referrer}}</option>
        {% for x in customer_referrer %}
          <option value="{{x.id}}">{{x.Name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Estado Actual</label>
        <select class="browser-default" name="Fk_Actual_State" id="Fk_Actual_State" value="{{management_type.Fk_Actual_State}}">
          <option value="{{management_type.Fk_Actual_State.id}}"  >{{management_type.Fk_Actual_State}}</option>
          {% for x in actual_state %}
            <option value="{{x.id}}">{{x.Detail}}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-4">
      <label for="Status_Date">Fecha de Estado</label>
      <input type="date" class="form-control" id="Status_Date" name="Status_Date" value="{{management_type.Status_Date}}">
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Sede</label>
        <select class="browser-default" name="Campus" id="Campus" value="{{management_type.Campus}}">
          <option value="{{management_type.Campus}}" >{{management_type.Campus}}</option>
          <option value="Manizales">Manizales</option>
          <option value="Pereira">Pereira</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label>Resultado</label>
        <select class="browser-default" name="Outcome" id="Outcome" value="{{management_type.Outcome}}">
          <option value="{{management_type.Outcome}}" >{{management_type.Outcome}}</option>
          <option value="Rehabilitación Financiera">Rehabilitación Financiera</option>
          <option value="Cancelado">Cancelado</option>
        </select>
    </div>

    <div class="form-group col-md-4">
      <label for="Result_Date">Fecha de Resultado</label>
      <input type="date" class="form-control" id="Result_Date" name="Result_Date" value="{{management_type.Result_Date}}">
    </div>
    <div class="form-group col-md-4">
      <label for="Result_Date">Campaña</label>
      <input type="text" class="form-control" id="Campaign" name="Campaign" value="{{management_type.Campaign}}">
    </div>

    <div class="form-group col-md-4">
      <label for="Fk_Client">cliente</label>
      <input type="text" class="form-control" id="Fk_Client" name="Fk_Client" value="{{management_type.Fk_Client.id}}">
    </div>
  </div>
  <div style="text-align: left">
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
  <div class="form-row">
    <div style="text-align: right" class="form-group col-md-6">
      <label for="agregarobligacion">Obligaciones Fincieras</label>
      <a href="{% url 'listarobligacion' management_type.id  %}">
        <i type="submit" style="background:#336EFF" class="btn btn.default">Agregar</i>
      </a>
    </div>
    <div style="text-align: left" class="form-group col-md-6">
      <label for="listarderechopeticion">Derechos de petición</label>
      <a href="{% url 'listarderechopeticion' management_type.id %}">
        <i type="submit" style="background:#336EFF" class="btn btn.default">Agregar</i>
      </a>
    </div>
  </div>
<div class="form-row">
  <div style="text-align: center" class="form-group col-md-3">
    <label for="listarcuentas">Cuentas Bancarias</label>
    <a href="{% url 'listarcuenta' management_type.Fk_Client.id %}">
      <i type="submit" style="background:#336EFF" class="btn btn.default">Agregar</i>
    </a>
  </div>
  <div style="text-align: left" class="form-group col-md-3">
    <label for="listardesembolso">Desembolsos</label>
    <a href="{% url 'listardesembolso' management_type.id %}">
      <i type="submit" style="background:#336EFF" class="btn btn.default">Agregar</i>
    </a>
  </div>
</div>


{% endblock %}
