{% extends 'base/base.html' %}

{% block content %}

          <div class="container ">
            <h1 class="m-0 text-dark">Clientes</h1>
            <div  style="text-align: right" class="fixed-action-btn">
              <a href="{% url 'crearcliente' %}" class="btn btn-success">
                <i class="material-icons">Crear Cliente</i>
              </a>
            </div>
            <table class="table">
                <thead class="thead">
                  <tr>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>

                  {% for data in clientes %}
                  <tr>
                    <td>{{ data.Name }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Identification }}</td>
                    <td>{{ data.Email }}</td>
                    <td>
                        <a href="{% url 'listarnomina' data.id %}" class="btn btn-primary">
                          <i class="material-icons">Nómina</i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'listarreferencia' data.id %}" class="btn btn-primary">
                          <i class="material-icons">Referencia</i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'listargestion' data.id %}" class="btn btn-primary">
                          <i class="material-icons">Gestión</i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'editarcliente' data.id %}" class="btn btn-warning">
                          <i class="material-icons">Actualizar</i>
                        </a>
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>

              </table>

            </div>

{% endblock %}
