{% extends 'base/base.html' %}

{% block content %}

{{client}}
<form action="{%url 'crearnomina' %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Payroll_Company">Empresa</label>
        <input type="number" class="form-control" id="Payroll_Company" name="Payroll_Company" value="{{Payroll_Client.Payroll_Company}}>
    </div>
    <div class="form-group col-md-6">
      <label>Seleccione una Nómina</label>
        <select class="browser-default " name="Payroll_Type" id="Payroll_Type">
          <option value="" disabled selected>Seleccione</option>
          <option value="activoestado">Activo Estado</option>
          <option value="pensionado">Pensionado</option>
          <option value="docente">Docente</option>
          <option value="microempresario">Microempresario</option>
          <option value="activoprivada">Activo Privada</option>
          <option value="independiente">Independiente</option>
        </select
    </div>
  </div>

    <div class="form-group col-md-6">
      <label>Tipo Contrato/Pensión</label>
        <select class="browser-default " name="tipocontrato">
          <option value="" disabled selected>Seleccione</option>
          <option value="propiedad">Propiedad</option>
          <option value="invalidez">Invalidez</option>
          <option value="provisionalidad">Provisionalidad</option>
          <option value="jubilación">Jubilación</option>
          <option value="carrera">Carrera</option>
          <option value="vejez">Vejez</option>
          <option value="microempresario">Microempresario</option>
          <option value="indefinido">Indefinido</option>
          <option value="sustitucion">Sustitución</option>
          <option value="superviviencia">Supervivencia</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Salary_Value">Valor Salario</label>
        <input type="number" class="form-control" id="Salary_Value" name="Salary_Value">
    </div>
    <div class="form-group col-md-6">
      <label for="Permanent_Income">Ingresos Permanentes</label>
        <input type="number" class="form-control" id="Permanent_Income" name="Permanent_Income">
    </div>
    <div class="form-group col-md-6">
      <label>Ley Aplica</label>
        <select class="browser-default " name="Law_Applies" id="Law_Applies">
          <option value="" disabled selected>Seleccione</option>
          <option value="ley1527">Ley 1527</option>
          <option value="ley50">Ley 50</option>
          <option value="smlv">SMLV</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Social_Security">Seguridad Social</label>
      <input type="number" class="form-control" id="Social_Security" name="Social_Security">
    </div>
    <div class="form-group col-md-6">
      <label for="Permanent_Discounts">Descuentos Permanentes</label>
      <input type="number" class="form-control" id="Permanent_Discounts" name="Permanent_Discounts">
    </div>
    <div class="form-group col-md-6">
      <label for="Non_Concellable_Value">Deudas no cancelables</label>
      <input type="number" class="form-control" id="Non_Concellable_Value" name="Non_Concellable_Value">
    </div>
    <div class="form-group col-md-6">
      <label for="Payment_Capacity">Capacidad de pago</label>
      <input type="number" class="form-control" id="Payment_Capacity" name="Payment_Capacity">
    </div>
    <div class="form-group col-md-6">
      <label for="Bonding_Date">Fecha de Vinculación</label>
      <input type="date" class="form-control" id="Bonding_Date" name="Bonding_Date">
    </div>
    <div style="text-align: center" class="form-group col-md-5">
      <label for="listarcuentas">Simulacion Bancaria</label>
      <a href="{% url 'crearsimulacion' %}">
        <i type="submit" style="background:#336EFF" class="btn btn.default">Agregar</i>
      </a>
    </div>

    <div class="form-group col-md-6">
      <select class="browser-default" name="Fk_Client" id="Fk_Client">
        {% for x in client %}
          <option value="{{x.id}}">{{x.id}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
    </div>

    <div style="text-align: right" class="col-md-12">
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>

</form>

{% endblock %}
