{% extends 'base.html' %}

{% block content %}

          <div class="card blue darken-1">
            <table class="table table-dark">
              <div class="card-content white-text">

                <thead>
                  <tr>
                    <th>Empresa</th>
                    <th>Tipo</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in nomina %}
                  <tr>
                    <td>{{ data.Payroll_Company }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Payroll_Type }}</td>
                    <td>{{ data.Salary_Value }}</td>
                    <td>
                        <a href="{% url 'editarnomina' data.id %}" class="">
                          <i class="material-icons">update_forever</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarnomina' data.id %}" class="">
                        <i class="material-icons">delete_forever</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearnomina' %}" class="btn-floating btn-large red">
                  <i class="large material-icons">add</i>
                </a>
              </div>
            </div>

{% endblock %}
