{% extends 'base/base.html' %}

{% block content %}

          <div class="card blue darken-1">
            <h1 class="m-0 text-dark">Referencias</h1>
            <table class="table">
              <div class="card-content white-text">

                <thead>
                  <tr>

                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Celular</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in referencia %}
                  <tr>

                    <td>{{ data.Name }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Address }}</td>
                    <td>{{ data.Cell_Phone }}</td>
                    <td>
                        <a href="{% url 'editarreferencia' data.id %}" class="btn btn-warning">
                          <i class="material-icons">Actualizar</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarreferencia' data.id %}" class="btn btn-danger">
                        <i class="material-icons">Eliminar</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearreferencia' clientId %}" class="btn btn-success">
                  <i class="material-icons">Crear Referencia</i>
                </a>
              </div>
            </div>

{% endblock %}
