{% extends 'base.html' %}

{% block content %}

<form action="{%url 'editarreferencia' %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Name">Nombre Completo</label>
      <input type="text" class="form-control" id="Name" name="Name" value="{{Reference.Name}}">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="Email" name="Email" value="{{Reference.Email}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Address">Dirección</label>
      <input type="text" class="form-control" id="Address" name="Address" value="{{Reference.Address}}" >
    </div>
    <div class="form-group col-md-6">
      <label for="Labor_Company">Empresa Laboral</label>
      <input type="text" class="form-control" id="Labor_Company" name="Labor_Company" value="{{Reference.Labor_Company}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="City">Ciudad</label>
      <input type="text" class="form-control" id="City" name="City" value="{{Reference.City}}">
    </div>
    <div class="form-group col-md-6">
      <label for="Relationship">Parentesco</label>
      <input type="text" class="form-control" id="Relationship" name="Relationship" value="{{Reference.Relationship}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Cell_Phone">Celular</label>
      <input type="number" class="form-control" id="Cell_Phone" name="Cell_Phone" value="{{Reference.Cell_Phone}}">
    </div>
    <div class="form-group col-md-6">
      <label for="Phone">Telefono</label>
      <input type="number" class="form-control" id="Phone" name="Phone" value="{{Reference.Phone}}">
    </div>
  </div>
  <div class="form-group col-md-6">

  </div>


  <div style="text-align: right">
    <button type="submit" class="btn btn-primary">Crear</button>
  </div>
</form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
