{% extends 'base/base.html' %}

{% block content %}

          <div class="card blue darken-1">
            <h1 class="m-0 text-dark">Cuentas Bancarias</h1>
            <table class="table">
              <div class="card-content white-text">

                <thead>
                  <tr>
                    <th>Tipo Cuenta</th>
                    <th>Número</th>
                    <th>Banco</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in cuenta %}
                  <tr>
                    <td>{{ data.Account_Type }}</td>
                    <td>{{ data.Number }}</td>
                    <td>{{ data.Bank }}</td>
                    <td>{{ data.State }}</td>
                    <td>
                        <a href="{% url 'editarcuenta' data.id %}" class="btn btn-warning">
                          <i class="material-icons">Actualizar</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarcuenta' data.id %}" class="btn btn-danger">
                        <i class="material-icons">Eliminar</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearcuenta' clientId %}" class="btn btn-success">
                  <i class="large material-icons">Crear Cuenta</i>

                </a>
              </div>

            </div>

{% endblock %}
