{% extends 'base.html' %}

{% block content %}

          <div class="card blue darken-1">
            <table class="table table-dark">
              <div class="card-content white-text">

                <thead>
                  <tr>
                    <th>Tipo Cuenta</th>
                    <th>Número</th>
                    <th>Banco</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in cuentas %}
                  <tr>
                    <td>{{ data.Account_Type }}</td> <!-- con upper colocamos las letras en mayuscula -->
                    <td>{{ data.Number }}</td>
                    <td>{{ data.Bank }}</td>
                    <td>{{ data.State }}</td>
                    <td>
                        <a href="{% url 'editarcuenta' data.id %}" class="">
                          <i class="material-icons">update_forever</i>
                        </a>
                    </td>
                    <td>
                      <a href="{% url 'eliminarcuenta' data.id %}" class="">
                        <i class="material-icons">delete_forever</i>
                      </a>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
                </div>
              </table>
              <div class="fixed-action-btn">
                <a href="{% url 'crearcuenta' %}" class="btn-floating btn-large red">
                  <i class="large material-icons">add</i>
                </a>
              </div>
            </div>

{% endblock %}
