{% extends 'base.html' %}

{% block content %}

<form action="{%url 'editarcuenta' bank_accounts.id %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tipo de Cuenta</label>
        <select class="browser-default " name="Account_Type" id="Account_Type" value="{{bank_accounts.Account_Type}}">
          <option value="{{bank_accounts.Account_Type}}" selected>{{bank_accounts.Account_Type}}</option>
          <option value="Noemal">Ahorros</option>
          <option value="Corriente">Corriente</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Number">Numero cuenta</label>
      <input type="number" class="form" id="Number" name="Number" value="{{bank_accounts.Number}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="banco">Banco</label>
      <input type="text" class="form" id="Bank" name="Bank" value="{{bank_accounts.Bank}}">
    </div>
    <div class="form-group col-md-6">
      <label>Estado Cuenta</label>
        <select class="browser-default " name="State" id="State" value="{{bank_accounts.State}}">
          <option value="{{bank_accounts.State}}"  selected>{{bank_accounts.State}}</option>
          <option value="Normal">Normal</option>
          <option value="Embargada">Embargada</option>
          <option value="Inactiva">Inactiva</option>
        </select>
    </div>

    <div class="form-group col-md-6">
      <label for="Fk_Client"></label>
      <input type="hidden" class="form" id="Fk_Client" name="Fk_Client" value="{{bank_accounts.Fk_Client.id}}">
    </div>
  </div>
  <div style="text-align: right">
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
{% endblock %}

<!--  <label class="form-check-label" for="gridCheck">

  </label>

  <div class="form-group col-md-4">
    <label for="inputState">Celular</label>
    <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>

-->
