{% extends 'base.html' %}

{% block content %}

<form action="{%url 'crearnomina' clientId %}" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Payroll_Company">Empresa</label>
        <input type="TEXT" class="form-control" id="Payroll_Company" name="Payroll_Company" required>
    </div>
    <div class="form-group col-md-6">
      <label>Seleccione una Nómina</label>
        <select class="browser-default " name="Payroll_Type" id="Payroll_Type">
            <option value="" disabled selected>Seleccione</option>
            <option value="Activo Estado">Activo Estado</option>
            <option value="Pensionado">Pensionado</option>
            <option value="Docente">Docente</option>
            <option value="Microempresario">Microempresario</option>
            <option value="Activo Privada">Activo Privada</option>
            <option value="Independiente">Independiente</option>
        </select
    </div>
  </div>

    <div class="form-group col-md-6">
      <label>Tipo Contrato/Pensión</label>
        <select class="browser-default " name="Contract_Type" id="Contract_Type">
          <option value="" disabled selected>Seleccione</option>
          <option value="Propiedad">Propiedad</option>
          <option value="Invalidez">Invalidez</option>
          <option value="Provisionalidad">Provisionalidad</option>
          <option value="Jubilación">Jubilación</option>
          <option value="Carrera">Carrera</option>
          <option value="Vejez">Vejez</option>
          <option value="Microempresario">Microempresario</option>
          <option value="Indefinido">Indefinido</option>
          <option value="Sustitución">Sustitución</option>
          <option value="Supervivencia">Supervivencia</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Salary_Value">Valor Salario</label>
        <input type="number" class="form-control" id="Salary_Value" name="Salary_Value">
    </div>
    <div class="form-group col-md-6">
      <label for="Permanent_Income">Ingresos Permanentes</label>
        <input type="number" class="form-control" id="Permanent_Income" name="Permanent_Income">
    </div>
    <div class="form-group col-md-6">
      <label>Ley Aplica</label>
        <select class="browser-default" name="Law_Applies" id="Law_Applies">
          <option value="Seleccione" disabled selected>Seleccione</option>
          <option value="Ley 1527">Ley 1527</option>
          <option value="Ley 50">Ley 50</option>
          <option value="SMLV">SMLV</option>
        </select>
    </div>
    <div class="form-group col-md-6">
      <label for="Social_Security">Seguridad Social</label>
      <input type="number" class="form-control" id="Social_Security" name="Social_Security">
    </div>
    <div class="form-group col-md-6">
      <label for="Permanent_Discounts">Descuentos Permanentes</label>
      <input type="number" class="form-control" id="Permanent_Discounts" name="Permanent_Discounts">
    </div>
    <div class="form-group col-md-6">
      <label for="Non_Concellable_Value">Deudas no cancelables</label>
      <input type="number" class="form-control" id="Non_Concellable_Value" name="Non_Concellable_Value">
    </div>
    <div class="form-group col-md-6">
      <label for="Payment_Capacity">Capacidad de pago</label>
      <input type="number" class="form-control" id="Payment_Capacity" name="Payment_Capacity">
    </div>
    <div class="form-group col-md-6">
      <label for="Bonding_Date">Fecha de Vinculación</label>
      <input type="date" class="form-control" id="Bonding_Date" name="Bonding_Date">
    </div>

    <div class="form-group col-md-6">
      <label for=""></label>
      <input type="hidden" class="form-control" id="Bonding_Date" name="Fk_Client" value="{{clientId}}">
    </div>


    <div style="text-align: right" class="col-md-12">
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>

</form>

{% endblock %}
