{% extends 'base/base.html' %}

{% block content %}

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Nombre Completo</label>
      <input type="text" class="form-control" id="name" name="nombre" placeholder="Ingresar Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
      <input type="email" class="form-control" id="email">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Dirección</label>
      <input type="text" class="form-control" id="name" name="nombre" placeholder="Ingresar Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Empresa Laboral</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Ciudad</label>
      <input type="text" class="form-control" id="name" name="nombre" placeholder="Ingresar Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Parentesco</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="nombre">Celular</label>
      <input type="text" class="form-control" id="name" name="nombre" placeholder="Ingresar Nombre">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Telefono</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Cliente</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
  </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{% endblock %}
